/* colors */

$black: #1F271B;
$white: #F3FCF0;
$yellow: #FAC05E;
$red: #F79D84;
$blue: #3FA7D6;
$green: #59CD90;

/* typography */

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

/* spacing */

$base-spacing: 5px;
$gutter: $base-spacing*3;
