.box {
  height: 100%;
  width: 50%;
  min-height: 350px;
  float: left;
  background-color: #FFF;

	&:nth-of-type(1) {
		background-color: red;
	}

}

.box_header {
	background-color: #F1F1F1;
	color: #222;
	padding: 5px;
	height: 15px;
}

button.add_new {
	float: right;
}

h2.box_title {
	float: left;
}

input.task_entry {
	width: 100%;
}
