.task {
	padding: $base-spacing 0;
}

.task_strikethrough {
	padding: $base-spacing 0;
	text-decoration: line-through;
  color: $grey;	
}

input.task_checkbox {
	margin-top: 1px;
	margin-right: $base-spacing*2;
  -webkit-appearance: none;
  height: $gutter;
  width: $gutter;
  border-radius: 3px;
  display: inline-block;
  float: left;

  &:focus {
  	outline:0;
  }
}
