.list_item {
	padding: 5px;
	margin: 5px 0;
	border-bottom: 1px solid #F1F1F1;
}

.list_item_completed {
	padding: 5px;
	text-decoration: line-through;
	margin: 5px 0;
	border-bottom: 1px solid #F1F1F1;

}